@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

body {
  background: linear-gradient(to right, #00aaff71, #00ff6a84);
}

/* Calculator container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: lightGrey;
  max-width: 350px;
  margin: auto;
  border-radius: 15px;
  border: 1px solid black;
  box-shadow: 0px 0px 10px 10px #626265b7;
}

/* Display container */
.display {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  padding-right: 20px;
  background-color: #292727cf;
  color: #f9faf9e1;
  min-height: 110px;
  max-height: 200px;
  font-size: 4.2em;
  word-wrap: break-word;
  word-break: break-all;
  border-radius: 14px 14px 0 0;
  overflow: auto;
}

/* Buttons container */
.buttons {
  max-width: 400px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 0 0 8px 8px;
}

button:hover {
  opacity: 0.7;
}

button {
  height: 75px;
  flex: 0 0 25%;
  color: #e8ebe8f7;
  font-size: 2.3em;
  font-weight: 400;
  border: 1px solid black;
  cursor: pointer;
}

/* Layout for Number-Operator buttons */
.btn-operator,
.btn-equals {
  background-color: orange;
  font-size: 2.5em;
  font-weight: bolder;
}

.btn-number,
.grey,
.large {
  background-color: #878484;
}

.large {
  border-radius: 0 0 0 14px;
}

.dark-grey {
  background-color: #646161;
}

.large {
  flex: 0 0 50%;
}

.btn-equals {
  border-radius: 0 0 14px 0;
}

/* Media Queries */
@media (max-width: 480px) {

  /* Adjustments for smaller screens */
  .container {
    max-width: 80%;
    border-radius: 15px;
  }

  .display {
    font-size: 3em;
    min-height: 80px;
    max-height: 150px;
  }

  .buttons {
    border-radius: 5px;
  }

  button {
    height: 60px;
    font-size: 1.8em;
  }
}